.div1 {
  height: 100vh;
  background-color: pink;
}

.div2 {
  height: 100vh;
  background-color: salmon;
}

.square {
  /* position: relative;
  left: 50%; */
  width: 150px;
  height: 20vh;
  background-color: yellow;
}
.square2 {
  /* margin-top: 300px; Increase this value */
  width: 150px;
  height: 20vh;
  background-color: green;
}


.purple {
  background-color: purple;
}

.box {
  width: 100px;
  height: 100px;
  background-color: blue;
}

.box-red {
  background-color: red;
}

.panel {
  height: 100vh;
  background-color: #1C1C1C;
}

span {
  background-image: linear-gradient(yellow, yellow);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 1s ease-in;
}

.active {
  background-size: 100% 100%;
}


.z {
  z-index: 100;
}