html {
  scroll-behavior: smooth;
}

.show{ 
  transform: translateX(0);
  opacity: 1;
}

.beige {
  color: #d1c1a7;
}

.creativity-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.zoom-target {
  position: relative;
}

/* #about {
  opacity: 0;
} */