.container {
  position: relative;
  display: inline-block;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 100%);
  pointer-events: none;
}

.vignette {
  background-image: radial-gradient(ellipse at center, rgba(30, 45, 47, 0.8) 50%, rgba(0, 0, 0, 0.8) 100%);
  pointer-events: none;
}


.transtion-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.transition-content {
  position:absolute;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 1s ease-in-out;
}


.main {
  width: 100%;
  background-color: blue;
}

.section {
  width: 100%;
  height: 100vh;
}

#second {
  background-color: red;
}

#smallBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 240px;
  height: 135px;
  background-color: yellow;
}