html {
  scroll-behavior: smooth;
}
.container {
  position: relative;
  display: inline-block;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.8) 100%
  );
  pointer-events: none;
}

.vignette {
  background-image: radial-gradient(
    ellipse at center,
    rgba(30, 45, 47, 0.8) 50%,
    rgba(0, 0, 0, 0.8) 100%
  );
  pointer-events: none;
}

.transtion-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.transition-content {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 1s ease-in-out;
}

.main {
  width: 100%;
  background-color: blue;
}

.section {
  width: 100%;
  height: 100vh;
}

@font-face {
  font-family: "AvantLight"; /*Can be any text*/
  src: local("ITC Avant Garde Gothic Std Extra Light Condensed"),
    url("./font/ITCAvantGardeStd-XLtCn.otf") format("otf");
}

@font-face {
  font-family: "Aspekta-50";
  src: local("Aspekta-50"), url("./fonts/Aspekta-50.otf") format("otf");
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

@media screen and (max-width: 639px) {
  .vertical {
    writing-mode: vertical-lr;
  }
  .left {
    position: relative;
    right: -1.5rem;
  }
}
