@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #1c1c1c;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  font-family: poppins;
}

html::-webkit-scrollbar {
  width: 0.7vw;
  height: 1px;
  display: none;
}

html::-webkit-scrollbar-thumb {
  background-color: #f59e0b;
  border-radius: 30px;
  height: 40px;
  display: none;
}

html::-webkit-scrollbar-track {
  background-color: #1c1c1c;
  display: none;
}

@media screen and (max-width: 389px) {
  body {
    overflow-x: hidden;
  }
}
